body {
	background-color: #b6ceec; /*indique la couleur de fond de la page web*/
}

h1 {
	color : red;
	text-align: center;
	text-decoration: underline;
}

h2 {
	color : blue;
	text-align: right;
	font-style: italic;
}

p {
	color: green;
}