
/* les différentes élément type onglet, admonitions et replié 
   dont on ne veut pas diminuer la taille de la police */

.md-typeset .admonition, .tabbed-set {
    font-size: 0.8rem;
}

.md-typeset details, details.tip *, details.check * {
  font-size: 0.8rem;
}

/*Personnalisation Titres, tableaux*/

.md-typeset h1 {
  color:#4893a1;}
  
.md-typeset h2 {
  color:#ea9e4a;}
  
.md-typeset thead{
  background-color:#eff8fd;
  font-size: 0.75rem;}
  
.md-typeset tbody{
  font-size: 0.7rem;}

/*Images centrées*/
.center {
  display: block;
  margin: 0 auto;
}

img {
  border-radius: 10px;
  }

.circle {
    border-color:#006C8F;
    border-image: none;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 10px;
    height: 200px;
    width: 200px;
    overflow: hidden ;
  }

figure {
  display: block;
  width: 30%;
  text-align: center;
  padding-top: 0;
  border: 3px #e8a96d  solid;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.9em;
  }

figcaption {
  padding: 0.1em;
  text-align: left;
  font-weight: bold;
  font-size: smaller;
  color: #2f2f2f;
  }

.scaled {
    width: 80%;
    border-radius: 10px;
  }

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.1);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color:firebrick
}

:root {
  --md-admonition-icon--savoir: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>')
}
.md-typeset .admonition.savoir,
.md-typeset details.savoir {
  border-color: rgb(219, 16, 16);
}
.md-typeset .savoir > .admonition-title,
.md-typeset .savoir > summary {
  background-color: rgba(185, 27, 101, 0.1);
  border-color: rgb(219, 16, 16);
}
.md-typeset .savoir > .admonition-title::before,
.md-typeset .savoir > summary::before {
  background-color: rgb(219, 16, 16);
  animation: heart 1000ms infinite;
  -webkit-mask-image: var(--md-admonition-icon--savoir);
          mask-image: var(--md-admonition-icon--savoir);
}

/* Test pour cacher une image en fonction du thème */

body[data-md-color-scheme^="default"] img.sombre {
  display: none;
}

body[data-md-color-scheme^="slate"] img.clair {
  display: none;
}
